/* Resetting margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Calibri', sans-serif;;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #fff;
    color: #0044cc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 1px rgb(255, 255, 255);
}

/* Logo and Monogram in the Header */
.header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .monogram {
    width: 50px;
    margin-right: 10px;
}

.header .logo h1 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #0044cc;
}

/* Navigation Links */
.nav .link {
    text-decoration: none;
    color: #0044cc;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 2px solid #0044cc;
    border-radius: 5px;
    transition: 0.3s;
}

.nav .link:hover {
    background-color: #0044cc;
    color: #fff;
}

.name-section h1 {
    font-size: 3rem;
    color: #0044cc;
    margin-bottom: 0.5rem;
}

.name-section p {
    font-size: 1.2rem;
    color: #666;
}

/* Container for Main Content */
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    padding-top: 100px; /* Adjusted for fixed header */
    margin-top: 3%;
}

/* Profile Picture */
.profile-pic-full img {
    width: 250px;
    border-radius: 8px;
    margin-right: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic-full a {
    text-decoration: none;
}

/* Resume Download Button */
.resume-download {
    background-color: #0044cc;
    margin-top: 1rem;
    padding: 1rem;
    width: 250px;
    height: 70px;
    border-radius: 8px;
    margin-right: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.resume-download:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.resume-download h2 {
    color: #fff;
}

/* Content Blocks (Skills, Education, Experience) */
.resume-content {
    flex-grow: 1;
}

.block {
    background-color: #fff;
    padding: 1.5rem;
    width: 85%;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Headings */
h2 {
    color: #0044cc;
    margin-bottom: 1rem;
}

/* Skills and Experience Lists */
.skills ul, .job ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Job Title Styles */
.job h3 {
    color:#0044cc;
}

/* Footer Copyright */
.copyright {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
    text-decoration: none;
}